body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    transition: top 0.3s;
  }
  
  .sticky {
    top: 0;
    position: fixed;
    width: 100%;
  }

  .card {
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.carousel-inner {
    transition: transform 0.5s ease-in-out;
}
.orange-background {
    background-color:black;
    color: white;
}
.card-with-bg{
    background-image: url('df.jpg');
    background-size: cover;
    color:white;
    

}
.footer {
  background-color: black;
    
    color: white;
    padding: 50px 0;
}

.social-icons {
    font-size: 24px;
    margin: 0 10px;
    color: white;
}